.main-cointainer{
    height: 80vh;
    width: 38vw;
    background-color: black;
    border-radius: 10px 10px;
}
#heading{
    margin: 0px  7rem;
    padding: 1rem 1rem;
    color: white;
}
.input{
    height: 60px;
    width:75%;
    margin: 10px 30px;
    padding: 0rem 2rem;
    font-size: 1rem;
    border-radius: 10px 10px;
}
.checkboxdiv{
    display: flex;
    border-radius: 50%;
}
.check{
    height: 65px;
    width: 35px;
    border-radius: 50%;
    margin:2px 30px;
}
#terms{
    color:white;
    border: 0px;
    padding: 0px;
}
#button{
    height: 3rem;
    width: 10rem;
    border: 2px solid white;
    margin:0px 200px;
    background-color: black;
    color: white;
    font-size: larger;
}
.input[type=number]::-webkit-inner-spin-button, 
.input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}