*{
    box-sizing: border-box;
}
.navbar{
    height:100px;
    background-color: rgb(13, 13, 64);
    color: white;
    text-align: center;
    padding: 10px;
    border-bottom: 5px solid rgb(215, 215, 31);
}
.secondary-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 80px;
    padding: 20px 50px;      
}
.gallery img {
    width: 100%;
    max-width: 400px;
    height: 300px;
    object-fit:fill;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }